*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: O-light;
    src: url(OttercoDisplay-Light.woff);
}
@font-face {
    font-family: O-medium;
    src: url(OttercoDisplay-Medium.woff);
}
@font-face {
    font-family: O-bold;
    src: url(Otterco-Bold.woff);
}
@font-face {
    font-family: O-regular;
    src: url(OttercoDisplay-Regular.woff);
}
@font-face {
    font-family: Inter-regular;
    src: url(Inter-Regular.latin-JLQMKCHE.woff2);
}
html{
    font-size: 10px;
}
.main-page{
    padding: .1px;
}
.main-page-dark{
    padding: .1px;
    background-color: black;
}
.page-1{
    height: 730px;
    width: 100%;
    background-color: rgb(200, 200, 200);
    border-radius: 0rem 0rem 10rem 10rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem;
    position: sticky;
}
.left-nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    position: sticky;
}

.cp-btn{
    padding: 2rem 4rem;
    border-radius: 35px;
    background-color: white;
    border: 3px solid rgb(223, 220, 220);
    font-family: O-light;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
}
.cp-btn-dark{
    padding: 2rem 4rem;
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(223, 220, 220);
    font-family: O-light;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
}
.CV-btn{
    padding: 1.8rem 4.5rem;
    border-radius: 35px;
    background-color: white;
    border: 3px solid rgb(226, 225, 225);
    font-family: O-light;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.CV-btn-dark{
    padding: 1.8rem 4.5rem;
    border-radius: 35px;
    background-color: black;
    border: 3px solid rgb(226, 225, 225);
    font-family: O-light;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.dard-light{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.dark-light i{
    font-size: 20px;
    cursor: pointer;
}
#light-btn{
    display: none;
}
.email-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(226, 225, 225);
    padding-left: 20px;
    /* border: 1px solid white; */
    border-radius: 35px;
    font-family: O-light;
}
.email-section-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(41, 40, 40);
    padding-left: 20px;
    /* border: 1px solid white; */
    border-radius: 35px;
    font-family: O-light;
    color: white;
}
.mail{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
}
.right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.links{
    font-size: 1.4rem;
    text-decoration: none;
    font-family: O-light;
    color: black;
    letter-spacing: .8px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.links-dark{
    color: rgb(255, 255, 255);
}
.links i{
    font-size: 1.3rem;
}

.back-slash{
    font-size: 1.5rem;
    font-family: O-light;
    color: black;
}
.back-slash-dark{
    color: rgb(255, 255, 255);
}
.page-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}
.img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
    flex-direction: row;
}
.img-section img{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    justify-self: center;
    margin-top: 50px;
    position: absolute;
    border: 4px solid white;
}

.name{
    position: relative;
    z-index: 1;
    margin-left: 23rem;
    font-family: O-light;
    background-color: white;
    font-size: 11px;
    padding: 1.5rem 1.5rem;
    border-radius: 30px;
    rotate: 350deg;
    font-weight: 100;
    letter-spacing: .8px;
    animation: flooting 5s linear infinite;
}
.name-dark{
    color: white;
    background-color: rgb(18, 18, 18);
}
@keyframes flooting{
    0% {
    transform: translateY(-0%);
    }
    50% {
    transform: translateY(-50%);
    rotate: 348deg;
    }
    50% {
    transform: translateY(50%);
    rotate: 348deg;
    }
    100% {
    transform: translateY(10%);
    rotate: 350deg;
    }  
}
.intro{
    margin-top: 11rem;
    font-family: O-light;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: .8px;
    background-color: white;
    padding: 1.5rem 1.5rem;
    border-radius: 50px;
}
.intro-dark{
    background-color: rgb(0, 0, 0);
    color: white;
}
.main-text{
    margin-top: .5rem;
    text-align: center;
    font-size: 5rem;
    font-family: O-medium;
    font-weight: 400;
    line-height: 6.5rem;
    background: linear-gradient(to right, black,rgb(44, 43, 43), rgb(133, 133, 133));
    background-clip: text;
    color: transparent;
}
.main-text-dark{
    background: linear-gradient(to right,rgb(215, 213, 213),rgb(166, 164, 164), rgb(45, 44, 44));
    background-clip: text;
    color: transparent;
}
.Project-btn{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.3rem 2.5rem;
    background-color: rgb(0, 0, 0);
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    gap: 5px;
    font-family: O-light;
    letter-spacing: 1px;
    border-radius: 80px;
    cursor: pointer;
    border: 2px solid rgb(215, 211, 211);
}
.Project-btn-dark{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.3rem 2.5rem;
    border: 3px solid rgb(95, 93, 93);
    background-color: rgb(255, 255, 255);
    margin-top: 2.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    gap: 5px;
    font-family: O-light;
    letter-spacing: 1px;
    border-radius: 80px;
    cursor: pointer;
}
.Project-btn i{
   font-size: 15px;
}
.CV-btn2{
    display: none;
    padding: 2.3rem 9rem;
    border-radius: 35px;
    background-color: white;
    border: 3px solid rgb(221, 217, 217);
    font-family: O-light;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 2rem;
    text-decoration: none;
    color: black;
}
.CV-btn2-dark{
    display: none;
    padding: 2.3rem 9rem;
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(76, 74, 74);
    font-family: O-light;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.scroll-page{
    padding-top: -10px;
    height: 22rem;
    width: 100%;
    display: flex;
    padding-left: 10px;
    overflow-x: hidden;
    background-color: white;
    border-radius: 0rem 0rem 10rem 10rem;
    position: relative;
    z-index: 11;
}
.scroll-page-dark{
    height: 20rem;
    width: 100%;
    display: flex;
    padding-left: 10px;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 0rem 0rem 10rem 10rem;
    position: relative;
    z-index: 11;
}
.scroll-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    animation: infinitescroll 20s infinite linear;
}
.scroll-img{
    height: 8rem;
    width: 8rem;
    filter: grayscale(100%);
}
.scroll-img-dark{
    filter: grayscale(0%);
}
@keyframes infinitescroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-110%);
    }
}
.page-3{
    height: 85rem;
    width: 100%;
    background-color: rgb(200, 200, 200);
    margin-top: -150px;
    position: relative;
    padding-top: 150px;
}
.page-3-dark{
    background-color: rgb(29, 28, 28);
}
.P2-heading{
    text-align: center;
    padding-top: 5rem;
    font-size: 4rem;
    font-family: O-medium;
    font-weight: 400;
    letter-spacing: .1rem;
    background: linear-gradient(to right, black, black,rgb(114, 111, 111), rgb(159, 158, 158));
    background-clip: text;
    color: transparent;
}
.P2-heading-dark{
    background: linear-gradient(to right,rgb(223, 222, 222), rgb(215, 214, 214), rgb(87, 86, 86), rgb(39, 38, 38));
    background-clip: text;
    color: transparent;
}
.Services{
    display: flex;
    align-self: center;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 4.5rem;
    background-color: white;
    font-size: 13px;
    width: 120px;
    border-radius: 5rem;
    font-family: O-medium;
    letter-spacing: .5px;
    font-family: 200;
    color: rgb(49, 48, 48);
    margin-top: 2rem;
}
.Services-dark{
    background-color: rgb(0, 0, 0);
    color: rgb(252, 252, 252);
}

.Box-section{
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 40px;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 3rem;
}
.Card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;


}
.card{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.dark-images{
    height: 4.3rem;
    width: 4.3rem;
}
.light-images{
    filter: invert(94%) sepia(60%) saturate(0%) hue-rotate(64deg) brightness(106%) contrast(104%);
}
.card-heading{
    font-family: O-medium;
    font-size: 17px;
    font-weight: 400;
    color: black;
}
.card-heading-dark{
    color: rgb(255, 254, 254);
}
.card-paragraph{
    font-family: O-light;
    font-size: 13px;
    letter-spacing: .8px;
    color: black;
}
.card-paragraph-dark{
    color: rgb(255, 255, 255);
}
.page-4{
    height: 73rem;
    width: 100%;
    background-color: white;
    border-radius: 8rem 8rem 0rem 0rem;
    margin-top: -150px;
    position: relative;
    z-index: 66;
    padding: .1px;
}
.page-4-dark{
    height: 65rem;
    width: 100%;
    background-color: black;
    border-radius: 8rem 8rem 0rem 0rem;
    margin-top: -150px;
    position: relative;
    z-index: 66;
    padding: .1px;
}
.Handshake-img{
    margin: 0 auto;
    height: 17rem;
    width: 17rem;
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: rgb(225, 223, 223);
    border-radius: 130px;
    margin-top: 10rem;
    object-fit: cover;
    object-position: center;
}
.Handshake-img-dark{
    margin: 0 auto;
    height: 17rem;
    width: 17rem;
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: rgb(211, 204, 204);
    border-radius: 130px;
    margin-top: 10rem;
    object-fit: cover;
    object-position: center;
    filter: invert(94%) sepia(60%) saturate(0%) hue-rotate(64deg) brightness(106%) contrast(104%);
}
.P4-heading{
    text-align: center;
    font-family: O-medium;
    font-weight: 400;
    font-size: 5rem;
    line-height: 8rem;
    background: linear-gradient(to right, black, black,rgb(114, 111, 111), rgb(159, 158, 158));
    background-clip: text;
    color: transparent;
    margin-top: 20px;
}
.P4-heading-dark{
    text-align: center;
    font-family: O-medium;
    font-weight: 400;
    font-size: 5rem;
    line-height: 8rem;
    background: linear-gradient(to right, rgb(255, 254, 254), rgb(255, 255, 255),rgb(114, 111, 111), rgb(27, 26, 26));
    background-clip: text;
    color: transparent;
    margin-top: 20px;
}
.contact-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contact-btns a{
    padding: 2rem 4rem;
    text-decoration: none;
    font-family: O-light;
    font-size: 1.5rem;
    letter-spacing: .8px;
    border-radius: 110px;
    margin-top: 3rem;
    border: .4rem solid rgb(195, 192, 192);
}
.Email-btn{
    background-color: black;
    color: rgb(255, 255, 255);
}
.WhatsApp-btn{
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.Whatsap-btn-dark{
    background-color: black;
    color: white;
    text-decoration: none;
}
.Email-btn-dark{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.line{
    color: white;
    margin-top: 9rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 8rem;
}
.footer-text{
    font-family: O-light;
    font-size: 1.5rem;
    letter-spacing: .8px;
    font-weight: 100;
    color: rgb(70, 68, 68);
}
.footer-text-dark{
    font-family: O-light;
    font-size: 1.5rem;
    letter-spacing: .8px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
@media (max-width:790px) {
    html{
        font-size: 8.5px;
    }
    .page-1{
        height: 670px;
    }
    .page-section{
        padding-top: -50px;
    }
    .page-3{
        height: 105rem;
    }
    .email-section{
        display: none;
    }
    .CV-btn{
        display: none;
    }
    .right-nav{
        /* display: none; */
    }
    .CV-btn2{
        display: block;
    }
   
}
@media (max-width:460px) {
    html{
        font-size: 7.5px;
    }
    .page-1{
        height: 665px;
    }
    .page-3{
        height: 880px;
    }
    
}

